
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  text-decoration: underline;
  color: #0b1f3b;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px #6fd1c7;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  text-align: center;
}


.gallery-page {
  display: none;
  padding: 40px;
}

.gallery-page:target {
  display: block;
}

.gallery-page:target ~ #home {
  display: none;
}

.gallery-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

/* BACK BUTTON */
.back {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 18px;
}
