* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f7f8;
    color: #222;
}

/* navbar */
.gallery-navbar {
  background: #0B1F3B;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-logo {
  color: white;
}

.gallery-navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.gallery-navbar a.active {
  border-bottom: 2px solid #FF6B5A; 
}
/* gallery section */
.gallery-section {
  padding: 50px 30px;
  text-align: center;
}

.gallery-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.gallery-section p {
  margin-bottom: 40px;
  color: #555;
}

/* grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* items */
.gallery-item {
  position: relative;

  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.08);
}

.gallery-item span {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(11, 31, 59, 0.7);

  color: white;
  font-size: 14px;
}



.hero p {
    font-size: 20px;
    margin: 15px 0;
}

.hero button {
    padding: 12px 28px;
    border: none;
    background: #14b8a6;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

/* Highlights */
.highlights {
    padding: 60px 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
}

.card p {
    padding: 0 15px 15px;
}

.card button {
    margin-bottom: 20px;
    padding: 8px 20px;
    border: none;
    background: #0f766e;
    color: white;
    border-radius: 5px;
}

/* footer */
.gallery-footer {
  background: #0B1F3B;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
