*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: Arial, sans-serif;
}
.food-header{
    text-align:center;
}
.intro{
    background-image: url(images/Food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#FFFFFF;
    margin-bottom: 25px;
}
.intro h1{
    font-size:48px;
    margin-bottom:10px
}
.intro p{
margin-bottom: 15px;
}
.intro a{
    margin-top: 20px;
    text-decoration:none;
    color:#FFFFFF;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
    background-color:#FF6B5A;
}

.intro a:hover{
    background: #df5f54;
}
.food-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    max-width: 1000px;
}
.food-card{
    margin-top: 20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    flex: 0 0 48%;
    box-sizing: border-box;

}
.reciepe{
    background-color: #1F6AE1;
    color: white;
    border: none;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 12px;
    transition: background-color 1s;
    cursor: pointer;
}
.reciepe:active{
    background-color: rgb( 56, 56, 126);
}
.food-card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}
.navbar{
    background-color:#FF6B5A;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links a{
    text-decoration: none;
    font-size: 18px;
    color:white
}
.nav-links a:hover{
    text-decoration: underline;
}
.description{
    font-size: 20px;
    margin-bottom: 20px;
}
footer{
    background-color: #FF6B5A;
}
.footerContainer{
    width:100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display:flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:10px;
    background-color:white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size:2em;
    color:#FF6B5A;
    opacity: 0.9;
}
.socialIcons a:hover {
    background-color:#FF6B5A;;
    transition: 0.5s;
}
.socialIcons a:hover i{
    background-color:white;
    transition:0.5s;
}
footer{
    margin-top:20px;
}
.footerNav{
    margin:30px 0;
}
.footerNav ul{
display:flex;
justify-content:center;
list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size:1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity:1;

}