.food-header{
    text-align:center;
}
.intro{
    height:60vh;
    background-image: url();
    justify-content:center;
    align-items: center;
}
.food-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.food-card{
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
}