*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: Segoe UI, sans-serif;
}
.food-header{
    text-align:center;
}
.food-intro{
    background: linear-gradient(rgba(0,0,0,0.20), rgba(0,0,0,0.20)),
    url(images/foods2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#FFFFFF;
    margin-bottom: 25px;
}
.food-intro h1{
    font-size:48px;
    margin-bottom:10px
}
.food-intro p{
margin-bottom: 25px;
font-size:1.1rem;
}
.food-intro a{
    margin-top: 20px;
    text-decoration:none;
    color:white;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
    background-color: #f75240;
}

.food-intro a:hover{
    background: #fc685b;
}
.food-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
    margin-left: 10px;
    margin-right:10px;
}
.food-card{
    margin-top:20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    flex: 0 0 48%;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);

}
.reciepe{
    background-color: #206ce6;
    color: white;
    border: none;
    margin-top: 8px;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 12px;
    transition: background-color 1s;
    cursor: pointer;
}
.reciepe:active{
    background-color: rgb( 56, 56, 126);
}
.food-card img{
    height:250px;
    width: 100%;
    object-fit: cover;
    border-radius:15px;
    display:block;
}
.navibar {
    background-color: #FF6B5A;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.brand{
    color:white;
    font-size: 1.6rem;
    font-weight: 700;
    color:#ffffff;
    letter-spacing:1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navi-links{
    display: flex;
    flex:wrap;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navi-links a{
    text-decoration: none;
    font-size: 18px;
    color:white;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.navi-links a:hover{
    text-decoration: underline;
}
.description{
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.food-footer{
    background-color:#f75442;
}
.food-footerContainer{
    width:100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display:flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:10px;
    background-color:white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size:2em;
    color:#f75442;
    opacity: 0.9;
}
.socialIcons a:hover {
    background-color:#f75442;
    transition: 0.5s;
}
.socialIcons a:hover i{
    background-color:white;
    transition:0.5s;
}
.food-footer{
    margin-top:20px;
}
.food-footerNav{
    margin:30px 0;
}
.food-footerNav ul {
display:flex;
justify-content:center;
list-style-type: none;
}
.food-footerNav ul li a {
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size:1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.food-footerNav ul li a:hover{
    opacity:1;

}
#description{
    margin-left: 10px;
}
@media (max-width: 700px){
    .food-footerNav ul{
        flex-direction:column;
    }
    .food-footerNav ul li{
        width:100%;
        text-align: center;
        margin:10px;
    }
}
