* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0b1f3b;
}

.navbar .logo {
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Hero Section */
.hero {
    height: 60vh;
    background-image: url("images/00.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;

}

.hero h1 {
    font-size: 40px;
    color: #0b1f3b;
    text-shadow: 2px 2px 8px rgba(17, 16, 16, 0.763);
}

.hero p {
    margin-top: 15px;
    font-size: 20px;
    color: #0b1f3b;
    text-shadow: 1px 1px 6px rgba(17, 16, 16, 0.763);
}

.hero h1,
.hero p {
    position: relative;
    z-index: 1;
}

/* Attractions */
.attractions {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    background-color: #f4f4f4;
}

.card {
    background: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0;
}

.card p {
    padding: 0 15px 20px;
    font-size: 14px;
}

/* Smooth Scroll, Animation */
html {
    scroll-behavior: smooth;
}

.attractions .card img {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.attractions .card img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

@keyframes fadeUpCard {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.attractions .card {
    opacity: 0;
    animation: fadeUpCard 1s ease forwards;
    animation-delay: 0.2s;
}

/* Footer */
.footer{
    grid-area: footer;
    background: #0b1f3b;
    color: white;
    text-align: center;
    padding: 16px;
}


/* ===== HERO BUTTON ===== */
.hero-btn {
    margin-top: 30px;
    display: inline-block;
    align-self: center;
    width: auto;

    padding: 14px 40px;
    background-color: #6fd1c7 ;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transition: all 0.35s ease;
    animation: fadeUp 1.2s ease forwards;
}

/* Hover effect */
.hero-btn:hover {
    background-color: #097c70;
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.6);
}

/* HERO BUTTON ANIMATION */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}