
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background:#f6f6f6;
  color:#333;
}

/*CONTAINER*/
.container{
  width:90%;
  max-width:1100px;
  margin:auto;
}

/*NAV*/
.nav{
  padding:30px 0;
}

/* NAVBAR LAYOUT */
.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* menu list */
.nav-links{
  display:flex;
  list-style:none;
  gap:30px;
}

/* links */
.nav-links a{
  text-decoration:none;
  color:black;
  font-weight:700;
  transition:.3s;
}

/* hover effect */
.nav-links a:hover{
  color:#FF6B5A;
}

.logo{
  color:#FF6B5A;
  letter-spacing:3px;
}

/*HERO*/
.hero{
  margin-top:30px;
}

.hero-box{
  background:#F3ECDC;
  border-radius:30px;
  padding:60px;
  display:grid;
  gap:40px;
  align-items:center;
}

.hero-text h1{
  font-size:3rem;
  color:black;
}

.hero-text p{
  margin:10px 0 20px;
}

.hero-img{
  width:80%;
  height: 400px;
  border-radius:20px;
  mix-blend-mode: multiply;
}

/* BUTTON */
.btn{
  background:#FF6B5A;
  color:white;
  border:none;
  padding:12px 26px;
  border-radius:25px;
  cursor:pointer;
  transition:.3s;
  margin-top: 10px;
}

.btn:hover{
  transform:translateY(-4px);
  box-shadow:0 8px 18px rgba(0,0,0,.2);
}

.small{
  padding:8px 18px;
  font-size:.9rem;
}

/*TOP MENU*/
.menu{
  text-align:center;
  padding:80px 0;
}

.title{
  color:#FF6B5A;
  margin-bottom:40px;
}

.cards{
  display:grid;
  gap:30px;
}

.card{
  background:white;
  padding:20px;
  border-radius:20px;
  transition:.3s;
}

.card img{
  width:100%;
  height: 300px;
  border-radius:15px;
  margin-bottom:10px;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 30px rgba(0,0,0,.1);
}

/* FRIES */
.fries{
  background:#F3ECDC;
  margin-top:60px;
  padding:20px 0;
  border-top-left-radius:80px;
  border-top-right-radius:80px;
  text-align:center;
}

.fries img{
  width:400px;
  margin:30px 0;
  border-radius: 20px;
}

/* FOOTER */

.footerf{
  background:white;
  padding:20px 0;
  text-align: center;
}

/* RESPONSIVE */
@media(min-width:768px){

  .hero-box{
    grid-template-columns:1fr 1fr;
  }

  .cards{
    grid-template-columns:repeat(3,1fr);
  }
}